

# clock pin for Atlys rev C board
# Bank = 1, Pin name = IO_L42P_GCLK7_M1UDM, Type = GCLK, Sch name = GCLK
NET "clk" LOC = L15;
 
NET "clk" TNM_NET = "tnm_clk";
TIMESPEC TS_clk = PERIOD "tnm_clk" 10 ns;
 
# onBoard Leds
# Bank = 1, Pin name = IO_L52N_M1DQ15, 	   Sch name = LD0
NET "Led[0]" LOC = U18;
# Bank = 1, Pin name = IO_L53P, 		 	   Sch name = LD1
NET "Led[1]" LOC = M14;
# Bank = 1, Pin name = IO_L53N_VREF, 	   Sch name = LD2
NET "Led[2]" LOC = N14;
# Bank = 1, Pin name = IO_L61P, 		 	   Sch name = LD3
NET "Led[3]" LOC = L14;
# Bank = 1, Pin name = IO_L61N, 		 	   Sch name = LD4
NET "Led[4]" LOC = M13;
# Bank = 0, Pin name = IO_L1P_HSWAPEN_0,	   Sch name = HSWAP/LD5
NET "Led[5]" LOC = D4;
# Bank = 1, Pin name = IO_L74N_DOUT_BUSY_1, Sch name = LD6
NET "Led[6]" LOC = P16;
# Bank = 2, Pin name = IO_L13P_M1_2,		   Sch name = M1/LD7
NET "Led[7]" LOC = N12;
 
 
# onBoard PUSH BUTTONS 
# Bank = 2, Pin name = IO_L1N_M0_CMPMISO_2, Sch name = M0/RESET. Active Low
NET "reset_n" LOC = T15;
 
# Bank = 3, Pin name = IO_L1P, 	   		   Sch name = BTNU. Active High
NET "btnu" LOC = N4;

 
 
# USB UART Connector
# Bank = 0, Pin name = IO_L66N_SCP0, Sch name = USBB-RXD
NET "rx_line" LOC = A16;
# Bank = 0, Pin name = IO_L66P_SCP1, Sch name = USBB-TXD
NET "tx_line" LOC = B16;

